<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guest.portlandfarmersmarket">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bigger_rooster"
        android:label="@string/app_name"
        android:logo="@drawable/bigger_rooster"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MarketMapActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".PcsActivity" />
        <activity android:name=".LocationsActivity"></activity>
    </application>

</manifest>